#container{
    height: 760px;
    width: 960px;
    display: flex;
    margin-left: 200px;
}
.inerdiv{
    width: 60px;
    height: 760px;
    background-color: pink;
    opacity: 0.7;
    margin: 10px;
}
.outerdiv{
height: 200px;
width: 220px;
background-color: gray;
margin: 10px;
opacity: 0.7;
float: left;
}
.page2{
    width: 960px;
    height: 760px;
     position: absolute;
    
}
#strech{
    width: 960px;
    height: 100px;
    background-color: gray;
    opacity: 0.7;
    position: absolute;

}
.outerdiv10{
    margin-top: 490px;
    position: absolute;
}
.outerdiv1{
    margin-top: 20px;
}
.midle{
margin-top: 140px;
}